h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30pt;
  color: teal;
  text-decoration: none;
  position: static;
}
h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 20pt;
  color: teal;
  font-style: italic;
  text-align: center;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  border: rgb(238, 114, 135) solid 8px;
  padding: 10px 10px 10px 10px;
  width: 700px;
  text-indent: 25pt;
  line-height: 1.5em;
  color: rgb(168, 69, 82);
}
#background {
  background-color: rgb(253, 191, 203);
}
body {
  background-color: rgb(185, 214, 214);
  border: 1px solid transparent;
  padding-bottom: 58px;
  background-image: url("home1.jpg");
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.emphasize {
  font-weight: bolder;
  color: rgb(238, 114, 135);
  text-transform: capitalize;
  font-size: 18pt;
}

hr {
  height: 3pt;
  background-color: rgb(238, 114, 135);
  border: none;
}
h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -280pt;
}
.footer {
  text-align: center;
  padding: 2px;
  background-color: teal;
  color: rgb(255, 232, 237);
  position: absolute;
  margin-bottom: 0;
  margin-left: 0;
  width: 100%;
  
}
a:link {
  color: rgb(255, 232, 237);
  text-decoration: none;
}
a:hover {
  color: blueviolet;
}
a:active {
  color: red(255, 232, 237);
}
a:visited {
  color: rgb(250, 185, 188);
}

li {
  display: inline;
  text-align: center;
  padding: 3%;
  font-size: 20px;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.sitemap {
  display: block;
  text-align: center;
  background-color: cadetblue;
  width: 200px;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;

}
.topnav {
  color: rgb(0, 0, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: teal;
  text-align: center;
}
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: auto;
  width: 960px;
}

table {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  background-color:rgb(150, 201, 201);
}
td {
  border: 8px solid teal;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: top;
}
tr {
  border: 8px solid teal;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  padding-bottom: 3px;
  vertical-align: top;
}
.bold {
  font-weight: bold;
  font-size: 20px;
  line-height: 2em;
}


form {
  background-color: rgb(118, 190, 190);
  width: 500px;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  border: 8px teal solid;
  font-size: 20px;
  margin-left: 0;
  margin-right: auto;
  position: absolute;
}
button {
  background-color: rgb(204, 226, 226);
}

#boxwidth {
  width: 190px;
}

.moreheight {
  line-height: 2em;
}

#center {
  display: inline-block;
  margin-left: 30%;
}


* {box-sizing:border-box}
/* EVERYTHING BELOW IS FROM 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_slideshow_auto
*/
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.mySlides {
  display: none;
}

.text {
  color: rgb(118, 190, 190);
  font-size: 25px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 0;
  width: 0;
  margin: 0;
  background-color: none;
  border-radius: 0%;
  display: none;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8}
  to {opacity: 1}
}