h1 {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 30pt;
  color: rgb(238, 114, 135);
  text-decoration: none;
  text-decoration-color: rgb(238, 114, 135);
  position: static;
}
h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 24pt;
  color: rgb(253, 191, 203);
  font-style: italic;
}
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12pt;
  border: rgb(238, 114, 135) solid 8px;
  padding: 10px 10px 10px 10px;
  width: 700px;
  text-indent: 25pt;
  line-height: 1.5em;
  color: rgb(168, 69, 82);
}
#background {
  background-color: rgb(253, 191, 203);
}
body {
  background-color: rgb(185, 214, 214);
  border: 1px solid transparent;
  padding-bottom: 58px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}
.emphasize {
  font-weight: bolder;
  color: rgb(238, 114, 135);
  text-transform: capitalize;
  font-size: 18pt;
}

hr {
  height: 3pt;
  background-color: rgb(238, 114, 135);
  border: none;
}
h3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: -280pt;
}
footer {
  text-align: center;
  padding: 2px;
  background-color: teal;
  color: rgb(255, 232, 237);
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  border-top: 40px;
  border-color: wheat;
  border-radius: 2px;
}
a:link {
  color: rgb(255, 232, 237);
  text-decoration: none;
}
a:hover {
  color: rgb(255, 232, 237);
}
a:active {
  color: rgb(255, 232, 237);
}
a:visited {
  color: rgb(250, 185, 188);
}

li {
  display: inline;
  text-align: center;
  padding: 3%;
  font-size: 20px;
}
.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: teal;
  text-align: center;
}

table {
  border: teal;
  border-radius: 4px;
  background-color: rgb(250, 185, 188);
}
html {
  scroll-behavior: smooth;
  height: 100%;
  margin: auto;
  width: 960px;
}
